<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Eco</title>
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body class="text-primary-darkest bg-primary-light">
			<div class=" sticky top-0 z-50">
				<nav class="navbar container grid grid-cols-4">
					<!-- logo -->
					<h1 class="font-mono">
						<a
							href="#"
							class="rounded-full bg-primary-dark border-b-4 shadow-2xl opacity-90 p-3 text-primary-light"
							>E C O</a
						>
					</h1>
					<a href="#" class="navbarlink">Pricing</a>
					<a href="#form" class="navbarlink">Contact us</a>
					<a href="#" class="navbarlink">Meet the team</a>
				</nav>
			</div>
			<div class="h-screen border-4"></div>
	
		

		<!-- change the padding back.  the div before this will be the home screen -->

		<div id="form">
			<div class="formcard m-4 pt-12">
				<form action="#" class="mb-0 space-y-6" method="post">
					<h1 class="text-2xl text-center font-serif">
						Get in touch with us...
					</h1>
					<!-- Email input -->
					<div class="m-2">
						<label for="email" class="font-serif">Email address</label>
						<div class="mt-1">
							<input
								id="email"
								name="email"
								type="email"
								autocomplete="email"
								class="inputs"
								required
								placeholder="email@email.com"
							/>
						</div>
					</div>
					<!-- First name input -->
					<div class="m-2">
						<label for="firstname" class="font-serif">First Name</label>
						<div>
							<input type="text" placeholder="jane" class="inputs" />
						</div>
					</div>
					<!-- zip code input -->
					<div class="m-2">
						<label for="zipcode">Zipcode</label>
						<div>
							<input type="text" placeholder="zip" class="inputs" />
						</div>
					</div>
					<!-- checkbox input -->
					<label class="md:w-2/3 block font-bold">
						<input class="checkbox" type="checkbox" />
						<span class="text-sm font-serif m-4">
							Send me your annual newsletter!
						</span>
						<h1 class="text-center text-xl font-serif pt-6">Some question</h1>
					</label>
					<!-- options input -->
					<select class="inputs dropdown">
						<option>Option 1</option>
						<option>Option 2</option>
						<option>Option 3</option>
						<option>Option 4</option>
					</select>
					<!-- button -->
					<button class="btn-form">Signup</button>
				</form>
			</div>
		</div>
	</body>
</html>
